img {
	width: 8rem;
	float: right;
	margin-right: 3rem;
}

.download:link, .download:visited {
	background-color: #7FD183;
	color: #fff;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.download:hover, .download:active {
	border-color: #7FD183;
	color: #000;
	background-color: #fff;
}