img {
	width: 8rem;
	float: right;
	margin-right: 3rem;
	margin-left: 0.5rem;
}

.download:link, .download:visited {
	background-color: #7FD183;
	border: 5px solid #7FD183;
	color: #fff;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.download:hover, .download:active {
	color: #000;
	background-color: #fff;
	text-decoration: underline;
}

.body{
	margin-top: 2rem;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 5rem;
}