*{
	padding:0px;
	margin:0px;
	font-size:20px;
}

.banner {
	display: flex;
	justify-content: space-between;
	box-shadow: 5px 0px 8px #888888;
	height: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #E0E0E0;
}

.logo {
	height: 5rem;
	width: 5rem;
}

.navItem {
	margin:auto;
	display:inline-block;
	
}

.navAnchor:hover {
	background-color: #73AB84;
}

.body{
	margin-top: 2rem;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5rem;
}

address {
	text-align: center;
	
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

p {
	width: 90%;
}