*{
	padding:0px;
	margin:0px;
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	background-color: #F4F4F4:
}

.banner {
	display: flex;
	justify-content: space-between;
	box-shadow: 5px 0px 8px #888888;
	height: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #EDEDED;
}

.logo {
	height: 5rem;
	width: 5rem;
}

#navItem {
	margin:auto;
	display:inline-block;
	
}
.navAnchor {
	text-decoration: none;
	color: #000;
}

.navAnchor:hover {
	color: #7FD183;
}

.body{
	margin-top: 2rem;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5rem;
}

address {
	text-align: center;
	
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 10rem;
	width: 100%;
	margin-top: 20rem;
	background-color: #73AB84;
	padding-top: 5%;
}

p {
	width: 90%;
}

