*{
	padding:0px;
	margin:0px;
	font-size:20px;
}

.banner {
	box-shadow: 5px 0px 8px #888888;
}

li {
	display:inline-block;
}

.body{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

address {
	text-align: center;
	
}

p {
	width: 90%;
}