*{
	padding:0px;
	margin:0px;
	font-size:20px;
}

.banner {
	display: flex;
	justify-content: space-between;
	box-shadow: 5px 0px 8px #888888;
	height: 5.5rem;
}

.bannerHalf {
	display: flex;
	justify-content: space-between;
	height: 5rem;
	display:inline-block;
	border: 5px solid red;
}

.navItem {
	margin:auto;
	display:inline-block;
	border: 5px solid black;
}

ul {
	border: 5px solid blue;
}



.body{
	margin-top: 2rem;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5rem;
}

address {
	text-align: center;
	
}

.footer {
	max-height: 8rem;
	
}

p {
	width: 90%;
}