*{
	padding:0px;
	margin:0px;
	font-size:20px;
}

.banner {
	box-shadow: 5px 0px 8px #888888;
}

.logo{
	height: 5rem;
	width: 5rem;
	
}

li {
	display:inline-block;
}

.body{
	margin-top: 2rem;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5rem;
}

address {
	text-align: center;
	
}

p {
	width: 90%;
}